<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.18.0/dist/bootstrap-vue.css" />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.18.0/dist/bootstrap-vue.js"></script>
  </head>
  <style>
    a:hover { text-decoration: none; }
  </style>
  <body>  
    <div id="app">
      <b-container fluid>
        <b-row>
          <b-col>
          </b-col>
          <b-col cols="8">
            <b-jumbotron class="mb-4">
              <a href="?">
                <h1>
                  Mathemat.io
                </h1>
                <h4>
                  A
                  <span id="latex_title">
                  </span>
                  Expression Parser
                </h4>
              </a>
              <p>
                For the source please visit our GitHub repository
              </p>
              <b-button variant="primary" href="https://github.com/Tannz0rz/expression_parser">
                GitHub
              </b-button>
            </b-jumbotron>
            <b-row class="mb-4">
              <b-col>
                <b-list-group>
                  <component v-for="(variable_value, variable_name) in variables" :key="variable_name" :is="createVariableComponent(variable_value, variable_name)"></component>
        
                  <b-list-group-item class="d-flex pb-4" href="#">
                    <b-input-group>
                      <b-form-input ref="input_variable_name" placeholder="Variable name" v-model="input_variable_name" trim>
                      </b-form-input>
                      <b-form-input ref="input_variable_value" placeholder="Variable value" v-model="input_variable_value" trim>
                      </b-form-input>
                    </b-input-group>
        
                    <b-button class="ml-2 rounded-circle" variant="outline-success" @click="variableClick">
                      +
                    </b-button>
                  </b-list-group-item>
                </b-list-group>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col>
                <b-input-group>
                  <b-dropdown :text="action">
                    <b-dropdown-item-button @click="action='Evaluate'">
                      Evaluate
                    </b-dropdown-item-button>
                    <b-dropdown-item-button @click="action='Expand'">
                      Expand
                    </b-dropdown-item-button>
                    <b-dropdown-item-button @click="action='Solve for'">
                      Solve for
                    </b-dropdown-item-button>
                  </b-dropdown>
                  <b-form-input :disabled="!action.startsWith('Solve for')">
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col>
                <b-input-group>
                  <b-form-input placeholder="LaTeX expression" v-model="expression" trim>
                  </b-form-input>
                  <b-input-group-append>
                    <b-button variant="outline-primary" @click="goClick">
                      Go
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
            </b-row>
            <b-row class="mb-4">
              <b-col>
                <b-row>
                  <b-col class="text-center">
                    <p>
                      Expression
                    </p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="text-center">
                    <span ref="latex_render_input"></span>
                  </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col class="text-center">
                    <p>
                      Result
                    </p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="text-center">
                    <div :hidden="loading_output" ref="latex_render_output">
                    </div>
                    <b-spinner :hidden="!loading_output" variant="primary" label="Spinning">
                    </b-spinner>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
          <b-col>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <script>
      katex.render("L^AT_EX", latex_title);

      function encode(str) {
        return encodeURI(str.replaceAll(/\(/gi, "%28").replaceAll(/\[/gi, "%5B").replaceAll(/\{/gi, "%7B").replaceAll(/\)/gi, "%29").replaceAll(/\]/gi, "%5D").replaceAll(/\}/gi, "%7D").replaceAll(/\*/gi, "%2A").replaceAll(/\+/gi, "%2B").replaceAll(/\-/gi, "%2D").replaceAll(/\//gi, "%2F").replaceAll(/\./gi, "%2E").replaceAll(/\"/gi, "%22"));
      }

      function decode(str) {
        return decodeURI(str.replaceAll(/\%28/gi, "\(").replaceAll(/\%5B/gi, "\[").replaceAll(/\%7B/gi, "\{").replaceAll(/\%29/gi, "\)").replaceAll(/\%5D/gi, "\]").replaceAll(/\%7D/gi, "\}").replaceAll(/\%2A/gi, "\*").replaceAll(/\%2B/gi, "\+").replaceAll(/\%2D/gi, "\-").replaceAll(/\%2F/gi, "\/").replaceAll(/\%2E/gi, "\.").replaceAll(/\%22/gi, "\""));
      }

      new Vue({
        created() {
          var params = new URLSearchParams(document.location.search.substr(1));

          if (params.has("input")) {
            var input = JSON.parse(decode(params.get("input")));

            this.action = input.action;
            this.expression = input.expression;
            this.variables = input.variables;
            
            var request = new XMLHttpRequest();

            request.addEventListener("load", () => {
              this.result = request.response.replace(/ /gi, "\\ ");

              this.loading_output = false;
            });

            console.log("https://l9o7wanmdc.execute-api.us-east-2.amazonaws.com/prod/aws-expression-parser?" + document.location.search.substr(1));

            request.open("GET", "https://l9o7wanmdc.execute-api.us-east-2.amazonaws.com/prod/aws-expression-parser?" + document.location.search.substr(1));

            request.setRequestHeader("Content-Type", "application/json");

            request.send();

            this.loading_output = true;
          }
        },
        el: '#app',
        data: {
          input_variable_name: '',
          input_variable_value: '',
          variables: { },
          action: 'Evaluate',
          expression: '',
          result: '',
          loading_output: false
        },
        watch: {
          expression: function(value) {
            katex.render(value, this.$refs.latex_render_input, { throwOnError: false });
          },
          result: function(value) {
            katex.render(value, this.$refs.latex_render_output, { throwOnError: false }); 
          }
        },
        methods: {
          goClick: function() {
            var params = encode(JSON.stringify({ 
                "action" : this.action, 
                "expression" : this.expression, 
                "variables" : this.variables 
              }));

            window.location.assign("index.html?input=" + params);
          },
          variableClick() {
            if (this.input_variable_name != "" && this.input_variable_value != "") {
              if (!(this.input_variable_name in this.variables)) {
                this.variables[this.input_variable_name] = this.input_variable_value;

                this.input_variable_name = "";
                this.input_variable_value = "";

                this.$refs.input_variable_name.$el.focus();
              }
            }
          },
          createVariableComponent(variable_value, variable_name) {
            var self = this;

            return {
              functional: true,
              render(h) {
                const form_input_name = h("b-form-input", {
                  props: {
                    value: variable_name
                  },
                  on: {
                    focusout: function (event) {
                      var variables = { }; 

                      for (const key in self.variables) {
                        if (key != variable_name) {
                          variables[key] = self.variables[key];
                        }
                      }

                      variables[event.target.value] = self.variables[variable_name];

                      self.variables = variables;

                      variable_name = event.target.value;
                    }
                  }
                });

                const form_input_value = h("b-form-input", {
                  props: {
                    value: variable_value
                  },
                  on: {
                    focusout: function (event) {
                      self.variables[variable_name] = event.target.value;
                    }
                  }
                });

                const input_button = h("b-button", {
                  staticClass: "ml-2 rounded-circle",
                  props: {
                    variant: "outline-danger"
                  },
                  on: {
                    click() {
                      var variables = { };

                      for (const key in self.variables) {
                        if (key != variable_name) {
                          variables[key] = self.variables[key];
                        }
                      }

                      self.variables = variables;
                    }
                  }
                }, [
                  "-"
                ]);

                const input_group = h("b-input-group", [
                  form_input_name,
                  form_input_value
                ]);

                return h("b-list-group-item", { 
                  staticClass: "d-flex pb-4" 
                }, [ 
                  input_group, 
                  input_button 
                ]);
              }
            };
          }
        }
      });
    </script>
  </body>
</html>
